/*Bad Practice*/
body {
    background-color: #ffffff;
    background-image: url("img_tree.png");
    background-repeat: no-repeat;
    background-position: right top;
}
/*Good Practice*/
body {
    background: #ffffff url("img_tree.png") no-repeat right top;
}